.blog-content {
    padding: 0rem 0;
    p {
        margin-bottom: 1.5rem;
    }
}
.blog-listing {
    article {
        border-bottom: 2px solid $lightGray;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }
    article:last-child {
        border-bottom: 0px solid $lightGray;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }
    h1 {
        margin-bottom: 2rem;
        color: $secondaryColor;
    }
    .more-link {
        color: $primaryColor;
        &:hover {
            color: $secondaryColor;
        }
    }
}
.morearrow{
  margin-left: 20px;
  float: right;
}
.newerarrow{
  margin-right: 20px;
  transform: rotate(180deg);
  float: left;
}
.nav-previous, .nav-next{
    clear: both;
  a{
    line-height: 2;
    font-size: 2rem;
    font-family: $fontLato;
    font-weight: bold;
    color: $primaryColor;
  }
}

.single-post{
  .next-prev{
    display: block;
  }
  .nav-previous, .nav-next{
    clear: none;
  }
}
.single-post {
    .blog-content {
        article {
            padding-bottom: 2rem;
            padding-right: 2rem;

        }
    }
}
.post-title{
  a{
    font-size: 3rem;
    color: black;
  }
  a:hover{
    color: $primaryColor;
  }
}
.blogpage{
  .row{
    padding-bottom: 150px;
  }
}
.blog-sidebar {
  background-color: $lightGray;
  height: 110%;
  padding-left: 25px;
  padding-top: 80px;
  margin-top: -80px;
  z-index: -1;
  position: relative;
    h2 {
      font-size: 3rem;
      margin-bottom: 0.5rem;
      color: black;
    }
    .cat-item {

    }
    ul{
      margin: 0px;
      list-style: none;
      padding-left: 5px;
      li{

        a{
          color: black;
          font-size: 2rem;
          font-family: arial;
        }
        a::before{
          content: "»";
          margin-right: 10px;
          top: -2px;
          position: relative;
        }
      }
    }
}
.more-link{
  color: $primaryColor;
}
.more-link::after{
  content: "»";
  margin-left: 10px;
}
#Post{
  margin-bottom: 6rem;
}
.next-prev {
    margin-top: 1.5rem;
    display: flex;
    justifty-content: space-between;
    .next,
    .prev {
        flex: 0 0 50%;
        a {
            display: flex;
            align-items: baseline;
        }
    }
    .next {
        padding-left: 1rem;
        text-align: right;
        a {
            justify-content: flex-end;
            i {
                padding-left: 1rem;
            }
        }
    }
    .prev {
        padding-right: 1rem;
        text-align: left;
        a {
            i {
                padding-right: 1rem;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .blog-sidebar {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid $lightGray;
    }
    .blog-content {
        .row {
            margin: 0;
        }
    }
    .single-post {
        .blog-content {
            article {
                padding-right: 0;
                border-right: none;
            }
        }
    }

    .alignright,
    .alignleft {
        float: none !important;
        display: block;
        margin: 0 auto 1.5rem auto !important;
    }
}

@media screen and (max-width: 576px) {
    .single-post {
        .blog-content {
            article {
                // padding: 1.5rem;
            }
        }
    }
}
