body.sticky-header{
  margin-top: 150px;
}
.site-header {
    box-shadow: 0 3px 20px rgba(black,0.2);
    height: 150px;
    background-color: $secondaryColor;
}
.home .site-header {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0px;
    .flex-header{
        height: 150px;
        z-index: 100;
        position: relative;
        top: 0px;
    }
}
#videoplaceholder{
  opacity: 0.5;
  line-height: 0;
  position: absolute;
  top: 0;
  width: 100%;
  iframe{
    width: 100%;
    min-height: 110vh;
    height: inherit;
  }
}
.flex-header {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    .logo {
        flex: 0;
        flex: 0 0 17%;
        align-self: center;
        img {
          max-width: 190px;
        }
    }
    .stickylogo {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }
    .header-nav{
      flex: 0 0 83%;
      .container{
        width: 100%;
      }
    }

    .mobile-icons{
      display: none;
    }
}
.stickylogo img {
    width: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.stickycontainer{
  display: flex;
  flex: 0 0 100%;
  height: 150px;
}
.sticky-header {
    .stickycontainer{
      max-width: 1140px;
      margin: auto;
      width: 100%;
    }
    .flex-header {
        position: fixed!important;
        z-index: 99989;
        left: 0;
        top: 0;
        width: 100%;
        height: 150px;
        max-height: 150px;
        width: 100%;
        min-width: 100%;
        background-color: $secondaryColor;
        top: 0px!important;
    }
    .header-nav {
        height: 150px; // IE needs this
    }
    .main-nav>ul>li {
        line-height: 150px;
    }
    .get-quote {
        line-height: 150px;
    }
}
.mast {
    position: relative;
    overflow: hidden;
    .mast-overlay {
      position: absolute;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: #fff;
      top: 55%;
      right: -15%;
      left: -15%;
      font-family: $fontAnton;
    }
    h1 {
        font-size: 7rem;
        margin-bottom: 2.5rem;
    }
    h2,
    p {
        margin-bottom: 1.5rem;
        font-size: 3rem;
        font-family: $fontAnton;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.product-mast {
    .mast-overlay {
        top: auto;
        bottom: 15%;
        transform: translate(0, 0);
    }
}
